instance=cernasolutionsdemo1.service-now.com
username=garrett.griffin.admin
password=Sab0tag3r!
theTables='cmdb_application_product_model,scrum_theme,rm_release_scrum,rm_sprint,rm_epic,rm_story,rm_scrum_task,rm_enhancement,rm_defect,x_cerso_dwft_dynamic_workflow_tasks,sys_user,u_deployment,u_engagement_manager,u_accounts,u_projects,u_resource_plan_mapping,task,u_forecasted_hours,sc_request,sc_req_item,sc_task,personal_task,hr_case,hr_task,u_time_off,hr_profile,sys_attachment,sys_attachment_doc,core_company,sys_properties,u_monitored_instances,u_bp_test_case,u_bp_test_probe,u_bp_executions,u_bp_test_executions,u_bp_test_detail,u_bp_whitelisted_records,sys_report,kb_knowledge,sys_email,sys_audit,sys_history_set,sys_history_line,wf_context,wf_executing,wf_history,wf_transition_history,wf_log,question_answer,question,sc_item_variables_task'